<div class="row">
    <div class="col-3">
        <app-products-filter [activeCategory]="activeCategory"></app-products-filter>
    </div>
    <div class="col">
        <div class="row align-items-center">
            <ng-container *ngFor="let product of filteredProducts; let i = index">
                <div class="col">
                    <app-product-card [product]="product" [shopping-cart]="cart"></app-product-card>
                </div>
                <div *ngIf="(i+1) % 3 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>