<h1>Shopping Cart</h1>

<p>You have {{ cartQuantity }} item(s) in your shopping cart.</p>

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cartItems">
            <td>{{ item.product.title }}</td>
            <!-- <td>{{ item.quantity }}</td> -->
            <td>
                <app-product-quantity [product]="item" [shopping-cart]="cartItems"></app-product-quantity>
            </td>
            <td>{{ item.quantity * item.product.price | currency:'INR' }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>{{ cartTotal | currency:'INR' }}</th>
        </tr>
    </tfoot>
</table>