<h1>Shopping Cart</h1>

<p>You have {{ cartQuantity }} item(s) in your shopping cart.</p>

<ng-container *ngIf="cartQuantity !== 0">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center">Quantity</th>
                <th class="text-right">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartItems">
                <td class="align-middle">
                    <div class="thumbnail" [style.background-image]="'url(' + item.product.imageUrl + ')'"></div>
                </td>
                <td class="align-middle">{{ item.product.title }}</td>
                <td class="align-middle">
                    <app-product-quantity [product]="item" [shopping-cart]="cartItems"></app-product-quantity>
                </td>
                <td class="text-right align-middle">{{ item.quantity * item.product.price | currency:'INR' }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="text-right">{{ cartTotal | currency:'INR' }}</th>
            </tr>
        </tfoot>
    </table>
    <div class="d-flex justify-content-between">
        <button class="btn btn-light btn-sm" (click)="clearCart()">Clear Shopping Cart</button>
        <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
    </div>

</ng-container>